* {
    padding: 0;
}

body {
    background-color: #f1b891
    /*background-attachment: fixed; dla nieruchomego zdjęcia */ 
}

#kontener {
    margin: 0 auto;
}

#gorny-panel {
    position: relative;
    margin: 15px;
    background-image: url('F:/Projects/Cheatsheet/Sources/Exercises/HTML-CSS/gorny-panel.jpg'); 
    width: cover;
    height: 200px;
}

.book {
    position: absolute;
    left: 20px;
    top: 0px;
    border: 0;
    opacity: 80%;
    width: 30%;
    height: 200px;
}

#kontakt_box {
    position: absolute;
    right: 40px;
    top: 25px;
    color: white;
}

a.email {
    text-decoration: none;
    color: rgb(255, 174, 0);
}

a.email:hover {
    color: rgb(255, 94, 0);
}