* {
    padding: 0;
}

body {
    background-color: #f1b891
    /*background-attachment: fixed; dla nieruchomego zdjęcia */ 
}

#kontener {
    margin: 0 auto;
}

#gorny-panel {
    position: relative;
    margin: 15px;
    background-image: url('F:/Projects/Cheatsheet/Sources/Exercises/HTML-CSS/gorny-panel.jpg'); 
    width: cover;
    height: 200px;
}

#kontakt_box {
    position: absolute;
    right: 40px;
    top: 25px;
    color: white;
}

a.email {
    text-decoration: none;
    color: rgb(255, 174, 0);
}

a.email:hover {
    color: rgb(255, 94, 0);
}

a.navbar {
    text-decoration: none;
}

a.navbar:hover {
    color: red;
} /*fix this tomorrow*/

#navlinks {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

#menu li {
    list-style-type: none;
    float: left;
}

#menu li a {
    background-color: rgb(167, 140, 126);
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
}

span.navigate {
    display: inline-block;
    margin-top: 10px;
}