@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    margin: 10px;
}


h2 {
    border-bottom: 2px dashed #235363
}

#rules {
    width: 1000px;
    margin: auto;
    text-shadow: 2px 4px 5px #000
}